<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <figure class="figure">
        <img
          src="./assets/img/houses.jpg"
          class="figure-img img-fluid rounded"
          alt="..."
        />
        <figcaption class="figure-caption">About Merchant Hub App</figcaption>
      </figure>
    </div>
  </div>
</div>
