<div>
  <div class="container categoryContainer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 categoryHeader">
          <h4>Check Businesses By Category</h4>
        </div>
      </div>
    </div>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="5000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row categoryCards">
            <div class="col-md-3">
              <a href="../../product.details.html">
                <div class="card">
                  <img
                    src="../assets/img/houses.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Houses</h5>
                  </div>
                </div></a
              >
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/furniture.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Furniture</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/computer.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Computer Services</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/furniture.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Appliances</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row categoryCards">
            <div class="col-md-3">
              <a href="../../product.details.html">
                <div class="card">
                  <img
                    src="../assets/img/houses.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Houses</h5>
                  </div>
                </div></a
              >
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/furniture.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Furniture</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/computer.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Computer Services</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img
                  src="../assets/img/furniture.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Appliances</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
