<div>
  <div>
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="900"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../hundredImages/LEGO Set.jpeg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-md-block">
            <div class="text-container">
              <p class="text-bold">How to Become a Merchant on MerchantHub.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../hundredImages/Curtains.jpeg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-md-block">
            <div class="text-container">
              <h5 class="text-bold">Want to Boost Your Sales</h5>
              <p>Learn our Premium Services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
