<footer class="footerContainer">
  <div class="row footer-row">
    <div class="col-md-6 footer-col">
      <h3><i class="bi bi-shop"></i>Merchant Hub</h3>
      <p>Join the Merchant Hub Community</p>
    </div>

    <div class="col-md-6 footer-col">
      <p>Need Assistance</p>

      <p>24/7 support available for you</p>
      <br />
      <h6><i class="bi bi-phone"></i>Contact us at +256 785796401</h6>
      <h6><i class="bi bi-mail"></i>Email daphnepearl101@gmail.com</h6>
    </div>
  </div>

  <div class="row footer-row">
    <div class="col-md-12 text-center">
      <p>&copy; 2024 Merchant Hub. All rights reserved.</p>
    </div>
  </div>
</footer>
