<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <!-- Navbar Brand on the Left -->
    <a class="navbar-brand" href="/">
      <h3><i class="bi bi-shop"></i> Merchant Hub</h3>
    </a>

    <!-- Navbar Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items on the Right -->
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <div class="d-flex justify-content-center search">
        <div class="d-flex">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search product..."
            aria-label="Search"
          />
          <button class="btn searchButton" onclick="searchResults()">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <!-- Navbar Items -->
      <ul class="navbar-nav">
        <!-- Cart -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../shopping.html">
            <i class="bi bi-cart"></i>Cart</a
          >
        </li>

        <!-- Account Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person"></i>Account
          </a>

          <ul class="dropdown-menu">
            <a class="dropdown-item" href="../../signup.html">Sign Up</a>
            <a class = "dropdown-item" href="../../loginpage.html">Login</a>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <button type="button" class="button">
            <a class="nav-link active" aria-current="page" href="../../postAd.html">
              Become a Merchant</a
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  function searchResults() {
    const input = document.querySelector('.form-control')
    let inputVal = input.value
    input.innerHTML = ""
    inputVal = inputVal.split(' ')
    fetch("https://merchanthub.onrender.com/searchitems/", {
      method: 'POST',
      body: JSON.stringify({
        query: inputVal
      })
    })
    .then(resp => resp.json())
    .then(data=> console.log(data))
  }
</script>
