




<div class="container-fluid">
  <h4>Add Post / Merchant Hub</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <h3 style="color: var(--clr-primary-5); padding: 1rem">
            Add a Post 
          </h3>

            <form>
              <div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                      <label>Busniess category*</label>
                      <select class="form-select" >
                        <option selected>------</option>
                        <option value="1">Houses</option>
                        <option value="2">Furniture</option>
                        <option value="3">Computer Services</option>
                        <option value="4">Appliances</option>
                      </select> <br>

                      <label>Location*</label>
                      <select class="form-select" >
                        <option selected>------</option>
                        <option value="1">Kampala</option>
                        <option value="2">Mukono</option>
                        <option value="3">Wakiso</option>
                      </select>
                  </div>
                </div>
              
              
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                  >Add Photo</label> 
                  <p class="form-label">
                  <strong>Add at least 1 photo for this category First picture </strong>
                  <br />- is the title picture. You can change the order of photos: just
                  grab your photos and drag
                  </p>
                  <br>
                  <input
                    class="form-control"
                    type="file"
                    id="formFile"
                    accept=".jpg, .jpeg, .peg"
                  />
                </div>

              </div>
            </form>
 
        </div>

        <div class="card">
          <form>
              <div>
                  <div class="mb-4">
                      <div class="form-group row">
                          <div class="col-sm-12">
                          <input
                              type="text"
                              class="form-control"
                              id="title"
                              placeholder="Title*" 
                          />
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <input
                          type="text"
                          class="form-control"
                          id="style"
                          placeholder="Style*" 
                          />
                      </div><br>

                      <div class="col-sm-12">
                          <input
                          type="text area"
                          class="form-control"
                          id="Description"
                          placeholder="Description*" 
                          />
                      </div><br>


                      <label>Color*</label>
                      <select class="form-select" >
                      <option selected>------</option>
                      <option value="1">Red</option>
                      <option value="2">Blue</option>
                      <option value="3">Black</option>
                      <option value="4">Yellow</option>
                      <option value="4">Multi</option>
                      <option value="4">White</option>
                      <option value="4">Ash</option>
                      <option value="4">Brown</option>
                      
                      </select> <br>
                      <label>Brand*</label>
                      <select class="form-select" >
                      <option selected>------</option>
                      <option value="1">Brand New</option>
                      <option value="2">Used</option>
                      </select> <br>
                  </div>
              </div>
          </form>
        </div>
      </div>
       
      <div class="col-md-4">
        <div class="card shippingDetails">
          <div>
            <h5 style="color: white">More Details</h5>
          </div>
          <div class="card-body">
    
                <p style="font-weight: bold;">Made in Uganda</p>
                <input type="checkbox" >
                <label >Yes</label><br>
    
                <p style="font-weight: bold;">Handmade</p>
                <input type="checkbox">
                <label for="">Yes</label><br>
    
                <p style="font-weight: bold;">Warranty</p>
                <input type="checkbox">
                <label for="">Yes</label><br>

                  <p style="font-weight: bold;">Are you open for negotiations?</p>
                  <input type="checkbox"><label>Yes</label>
                  <input type="checkbox" style="margin-left: 1rem;"><label>No</label>
                  <br>
                  <br>

                  <div class="col-sm-12">
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="price"
                      placeholder="Price" 
                    />
                  </div><br>

                  <a href="productDetails.page.html"><button type="submit" class="btn btn-block filterButton">Post Ad</button></a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>


