<div class="container">
    <div class="navigation">
    <ul>
        <li>
    
            <a href="#">
                <span class="icon">
                    <ion-icon name="planet-outline"></ion-icon>

                    </ion-icon>
                </span>
                <span class ="title">Merchant Hub</span>
            </a>
        </li>
        <li>
        
            <a href="#">
                <span class="icon">
                    <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"> </ion-icon>
                </span>
                <span class ="title">Dashboard</span>
            </a>
        </li>
        <li>
        
            <a href="#">
                <span class="icon">
                    <ion-icon name="people-outline" role="img" class="md hydrated" aria-label="people outline"></ion-icon>
                </span>
                <span class ="title">Customers</span>
            </a>
        </li>
        <li>
        
            <a href="#">
                <span class="icon">
                    <ion-icon name="chatbubble-outline" role="img" class="md hydrated" aria-label="chatbubble outline"></ion-icon>
                </span>
                <span class ="title">messages</span>
            </a>
        </li>
        <li>

            <a href="#">
                <span class="icon">
                    <ion-icon name="help-outline" role="img" class="md hydrated" aria-label="help outline"></ion-icon>
                </span>
                <span class ="title">help</span>
            </a>
        </li>
        <li>
        
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline" role="img" class="md hydrated" aria-label="settings outline"></ion-icon>
                </span>
                <span class ="title">Settings</span>
            </a>
        </li>
        <li>

            <a href="#">
                <span class="icon">
                    <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
                </span>
                <span class ="title">Password</span>
            </a>
        </li>
        <li>

            <a href="#">
                <span class="icon">
                    <ion-icon name="log-out-outline" role="img" class="md hydrated" aria-label="log out outline"></ion-icon>
                </span>
                <span class ="title">LogOut</span>
            </a>
        </li>
    </ul>
    </div>
    <div class="main">
        <div class="topbar">
            <div class="toggle">
            <ion-icon name="menu-outline" role="img" class="md hydrated" aria-label="menu-outline"></ion-icon>
        </div>
        <div class="search">
            <label>
                <input type="text" placeholder="search here">
            <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
            </label>
        </div>
        
    </div>

    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1505</div>
                <div class="cardName">Daily views</div>
            </div>
            <div class="iconBx">
                <ion-icon name="eye-outline" role="img" class="md hydrated" aria-label="eye outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">86</div>
                <div class="cardName">Sales</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cart-outline" role="img" class="md hydrated" aria-label="cart outline"></ion-icon>
            </div>
        </div>

                        <div class="card">
            <div>
                <div class="numbers">100</div>
                <div class="cardName">Orders</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cart-outline" role="img" class="md hydrated" aria-label="cart outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">comments</div>
            </div>
            <div class="iconBx">
                <ion-icon name="chatbubble-outline" role="img" class="md hydrated" aria-label="chatbubble outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">$7842</div>
                <div class="cardName">Earning</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="cash outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class ="details">
        <div class= "recentOrders">
           <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="#" class="btn"> View All </a>
            
        </div>

        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Price</th>
                    <th>Payment</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
               <tr>
                <td>television</td>
                <td>$100</td>
                <td>paid</td>
                <td><span class="status delivered">Delivered</span></td>
            </tr>

            <tr>
                <td>laptop</td>
                <td>$1060</td>
                <td>paid</td>
                <td><span class="status return">Return</span></td>
            </tr>

            <tr>
                <td>refrigerator</td>
                <td>$160</td>
                <td>paid</td>
                <td><span class="status pending">pending<span></td>
            </tr>

            <tr>
                <td>wardrop</td>
                <td>$1260</td>
                <td>paid</td>
                <td><span class="status inprogress">In progress<span></td>
            </tr>


            <tr>
                <td>handbag</td>
                <td>$166</td>
                <td>paid</td>
                <td><span class="status return">return<span></td>
            </tr>



            <tr>
                <td>shoes</td>
                <td>$500</td>
                <td>paid</td>
                <td><span class="status delivered">delivered<span></td>
            </tr>