


<div class="container signupContainer">
    <div class="card" style="width: 40rem">
        <div class="card-body">
            <h5 class="card-title">Forgot Password</h5>

            <p>Enter your email or phone number</p>
            <div class="form-group row">
            <div class="col-sm-12">
            <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email Address or Phone"
            />
            </div>
            </div>
            <button type="submit" class="next-btn" href="#" style="width: 200px; margin-top: 30px; margin-bottom: 10px;">SEARCH</button>
            <br>
            <a href="email.phone.html">Cancel</a>
         </div> 
    </div>
</div>