<style>
  .form-label {
    text-align: left;
    display: block;
    width: 100%;
  }
</style>

<div class="container signupContainer">
  <div class="card" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title">KYC PAGE</h5>
      <div class="row">
        <div class="mb-3 col">
          <input
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Business Name"
          />
        </div>

        <div class="mb-3 col">
          <select class="form-select" aria-label="Default select example">
            <option selected>Type of Business</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Company Email"
          />
        </div>

        <div class="mb-3 col">
          <input
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Business Address"
          />
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <select class="form-select" aria-label="Default select example">
            <option selected>Country</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3 col">
          <select class="form-select" aria-label="Default select example">
            <option selected>City/ Town</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="form-check col-md-8 my-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          I have read the Terms and Conditions
        </label>
      </div>
      <div class="mt-3 row">
        <div class="col"><button type="button" class="btn btn-secondary">Back</button></div>
        <div class="col"><button type="button">Next</button></div>

      </div>
    </div>
  </div>
</div>
