



<div class="container-fluid">
 <h4>Add Post / Merchant Hub</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <h4> <i class="bi bi-car-front-fill"></i> <br>Delivery</h4>
                    <form>
                        <div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="Delivery"
                                          placeholder="Name this delivery" 
                                        />
                                    </div><br>
                                    
                                    <p>How long does it take to deliver?</p>
                                        <input
                                          type="number" min="0"
                                          placeholder="From"
                                          style="width: 7rem;" 
                                        />
                                        <input
                                          type="number" min="0"
                                          placeholder="To"
                                          style="width: 7rem; margin-left: 3rem;" 
                                        /><br><br>
                                    

                                    <label>Do you charge for Delivery?</label>
                                        <select class="form-select" >
                                            <option selected>------</option>
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                          </select><br>

                                    
                                    <div class="col-sm-12">
                                        <input
                                        type="number" min="0"
                                        class="form-control"
                                        id="Delivery amount"
                                        placeholder="Enter delivery amount" 
                                        />
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card">
                    <h4> <i class="bi bi-credit-card-fill"></i><br>Promote your ad</h4>
                    <form>
                        <p >Choose a promotion type for your ad to post it</p>
                        <div class="container-fluid">
                        </div>
                        <div class="price-option">
                            <label for="week">1 Week:</label>
                            <input type="radio" id="week" name="duration" value="1" checked>
                            UGX 10000
                        </div> <br>
                        <div class="price-option">
                            <label for="two-weeks">2 Weeks:</label>
                            <input type="radio" id="two-weeks" name="duration" value="2">
                            UGX 20000
                        </div><br>
                        <div class="price-option">
                            <label for="month">1 Month:</label>
                            <input type="radio" id="month" name="duration" value="4">
                            UGX 50000
                        </div>
                    </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <div
                      class="card"
                      class="table"
                      style="background-color: var(--clr-primary-5)"
                    >
                      <h3 style="color: var(--clr-white); padding: 2rem">
                        Payment Details
                      </h3>
      
                      <form>
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <input
                              type="text"
                              class="form-control"
                              id="clientName"
                              placeholder="Enter Full Name"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <input
                              type="email"
                              class="form-control"
                              id="email"
                              placeholder="Enter Email Address"
                            />
                          </div>
                        </div>
      
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <input
                              type="text"
                              class="form-control"
                              id="address"
                              placeholder="Enter Mobile Money Number"
                            />
                          </div>
                        </div>
                        <div class="row" style="color: var(--clr-white)">
                          <div class="col">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault2"
                              checked
                            />
                            <label class="form-check-label" for="flexRadioDefault2">
                              Pay Cash
                            </label>
                          </div>
                          <div class="col">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault2"
                              checked
                            />
                            <label class="form-check-label" for="flexRadioDefault2">
                              Credit Card
                            </label>
                          </div>
                          <div class="col">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault2"
                              checked
                            />
                            <label class="form-check-label" for="flexRadioDefault2">
                              Mobile Money
                            </label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-block filterButton">
                          Proceed to Pay
                        </button>
                      </form>
                    </div>
                  </div>
      
            </div>
        </div>
    </div>
</div>
