<div class="container-fluid" style="height: 100%; padding: 2rem">
  <div class="row">
    <!-- Product Details -->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title"
            style="color: var(--clr-primary-5); padding: 2rem"
          >
            Product Details
          </h4>
          <div class="row">
            <div class="col-md-6">
              <img
                class="img-fluid rounded"
                src="../assets/img/houses.jpg"
                alt="Product Image"
              />
              <div class="d-flex justify-content-around mt-3">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter"></i>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Hf Bluetooth FM Rechargeable Portable Speaker - Black</h4>
              <p>Brand: Hf | Similar products from Hf</p>
              <h3>UGX 28000</h3>
              <p>In Stock</p>
              <p>+ shipping from UGX 3,900 to Down Town Kampala</p>

              <a href="../../shopping.html">
                <button type="submit" class="btn button btn-block mt-3">
                  <i class="bi bi-cart"></i> Add to Cart
                </button>
              </a>
            </div>
          </div>
          <!-- Product Description -->
          <div class="row mb-2">
            <div class="col">
              <h4 style="color: var(--clr-primary-5); padding: 2rem">
                Product Description
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                nam saepe modi ratione quibusdam quidem. Quae vero voluptates
                quas nulla esse! Maiores veniam nisi saepe culpa officia dolore.
                Minima, assumenda ipsam in, adipisci inventore repellendus eaque
                aperiam maiores sunt quisquam expedita esse beatae pariatur cum
                ea blanditiis! Itaque dignissimos et, dolorum illo ipsa libero
                architecto explicabo distinctio natus mollitia harum labore
                minima recusandae. Consectetur perferendis unde voluptatibus
                repellat nisi? Totam numquam quos minima dicta itaque nihil
                veniam ab voluptatibus, unde iure facilis sequi eligendi quas
                harum eius corporis, aperiam expedita sapiente maxime quasi
                aliquid explicabo tempora enim? Blanditiis, quas id.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Delivery Details -->
    <div class="col-lg-4">
      <div class="card shippingDetails text-white">
        <div class="card-body">
          <h5 class="card-title">Delivery Details</h5>
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Enter Address"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="country"
                placeholder="Enter Country"
              />
            </div>
            <a href="../../payment.html">
              <button type="submit" class="btn btn-block btn-light">
                Continue to Payment
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
