<!-- Button trigger modal -->
<div>
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Verify Information
  </button>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Verify Business Information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Thank you for successfully completing your KYC process. Your
        verification will be complete in 1-2 Days.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" >Save changes</button>
      </div>
    </div>
  </div>
</div>
