
<style>
    .form-label {
      text-align: left;
      display: block;
      width: 100%;
    }
  </style>
  
  <div class="container emailorphoneContainer">
    <div class="card" style="width: 40rem">
      <div class="card-body">
        <h5 class="card-title">Sign in via email or phone</h5>

        <div class="form-group row">
            <div class="col-sm-12">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address or Phone"
              />
            </div>
          </div>

        <div class="form-group row">
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>
          </div>

        <a href="forgot.password.html" class=""> Forgot your password?</a> 
        <br><br>
        <a href="addingPost.page.html"><button type="submit" class="next-btn" style="width: 200px;">SIGN IN</button></a>
        <br><br>
        <p> Do you have an account? <a href="signup.html"> Registration</a></p>
        <div class="mb-4">
            <button type="button" class="next-btn" href="#" style="width: 250px; height: 50px;" >
                <i class="bi bi-google"></i>
               Google
            </button>
            
            <button type="button" class="next-btn" href="#" style="margin-left:40px; width: 250px; height: 50px;">
                <i class="bi bi-facebook"></i>
              Facebook
            </button>
    
          </div>
      </div>
    </div>
  </div>
  